body {
    font-size: 2rem;
}

.content {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
 justify-content: center;   
 align-items: center;
 display: flex;
 flex-direction: column;
}

tfoot th {
    transform: scale(1, -1);
}

tbody th:last-child {
    transform: scale(1, -1);
}

table {
    border-spacing: 0;
}

table tr { 
    margin: 0;
    padding: 0;
}

table td, table th {
    border: 3px solid black;
    margin: 0;
    padding: .5rem;
}

table.input tr:hover {
    background-color: '#332';
}

table.input td {
    cursor: pointer;
}

table.input td:hover {
    background-color: #AAA;
}

table td span.plus::before {
    content: '+';
}

table td span.minus::before {
    content: '-';
}

table td span.blue::before {
    color: rgba(0, 0, 255);
}
table td span.red::before {
    color: rgba(255, 0, 0);
}


table td.selected, .box.selected::before {
    background-color: green;
}

table td.output, .box.output::before {
    background-color: yellow;
}

table td.bishop, .box.bishop::before {
    background-color: purple;
}

table td.light-knight, .box.light-knight::before {
    background-color: pink;
}

table td.dark-knight, .box.dark-knight::before {
    background-color: chocolate;
}


.legend .box::before {
    content: ' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

